* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  background-color: black;
}
h1 {
  text-align: center;
  font-weight: 100;
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #c7ecee;
  }

  100% {
    backgrouond-color: #fff;
  }
}
main.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
#result {
  color: rgb(255, 0, 0);
  font-style: italic;
  text-align: center;
}
#result .final {
  color: rgb(173, 173, 173);
  font-style: normal;
  font-size: 15pt;
}
#responds {
  color: white;
  font-style: normal;
  font-size: 20pt;
}

#frugtUI {
  position: relative;
  margin: auto;
  width: auto;
  margin-top: 40%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}

#frugtUI span {
  color: rgb(173, 173, 173);
  font-style: normal;
  font-size: 30pt;
  text-align: left;
  padding: 20pt 30pt;
}

#chosenTablet {
  position: absolute;
  right:10pt;
  top: 10pt;
  background-color: black;
  color: grey;
}

#chosenTablet option{
  color: grey;
}

a {
  color: #0d122b;
}
.error {
  color: #f22f46;
  text-align: center;
}


#button{
  position: absolute;
  left: 10pt;
  top: 10pt;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px; 
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
